[submodule "config-server"]
	path = config-server
	url = https://github.com/dilmikavishka/config-server.git
[submodule "api-gateway"]
	path = api-gateway
	url = https://github.com/dilmikavishka/api-gateway.git
[submodule "service-registry"]
	path = service-registry
	url = https://github.com/dilmikavishka/service-registry.git
